In [40]:
pip install tabulate

Note: you may need to restart the kernel to use updated packages.Collecting tabulate
  Downloading tabulate-0.9.0-py3-none-any.whl (35 kB)
Installing collected packages: tabulate
Successfully installed tabulate-0.9.0

  WARNING: The script tabulate.exe is installed in 'c:\Users\Lenovo\AppData\Local\Programs\Python\Python310\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
WARNING: You are using pip version 21.2.3; however, version 24.2 is available.
You should consider upgrading via the 'c:\Users\Lenovo\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [39]:
#pip install pandas
pip install tabulate

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2593707053.py, line 2)

In [63]:
import pandas as pd
from tabulate import tabulate

# Define the data
data = {
    "country_code": ["NLD", "IND", "USA", "DEU", "CHE"],
    "AVG(population)": [98765.0, 76544567.0, 9878655.0, 8760987.0, 245628.0],
    "COUNT(country_code)": [1, 1, 1, 1, 1]
}

# Create the DataFrame
df = pd.DataFrame(data)
metrics = ['COUNT(country_code)','AVG(population)']
# Display the DataFrame
#print(df)
ndf = df["country_code"]
ndf["m1"] = df["AVG(population)"]
ndf["m2"] = ndf["m1"]
tooltip_data = []
for _, row in df.iterrows():
    tooltip_entry = {}
    for metric_name in metrics:
        col_name = metric_name.split("(")[-1].replace(")", "")
        if metric_name in df.columns:
            value = row[metric_name]
            tooltip_entry[col_name]= value
    tooltip_data.append(tooltip_entry)
print(tooltip_data)
ndf["tooltip"] = tooltip_data
print(tabulate(ndf, headers='keys', tablefmt='sql'))
columns = ["country", "m1", "m2", "tooltip"]
df = ndf
df.columns = columns
#print(df)
print(tabulate(df, headers='keys', tablefmt='psql'))

[{'country_code': 1, 'population': 98765.0}, {'country_code': 1, 'population': 76544567.0}, {'country_code': 1, 'population': 9878655.0}, {'country_code': 1, 'population': 8760987.0}, {'country_code': 1, 'population': 245628.0}]
NLD      IND                                         USA                                            DEU                                           CHE                                           0       98765.0
1    76544567.0
2     9878655.0
3     8760987.0
4      245628.0
Name: AVG(population), dtype: float64
-------  ------------------------------------------  ---------------------------------------------  --------------------------------------------  --------------------------------------------  -------------------------------------------
0        N                                           L                                              D
1        I                                           N                                              D
2        U                                           S                                              A
3        D                                           E                                              U
4        C                                           H                                              E
m1       98765.0                                     76544567.0                                     9878655.0                                     8760987.0                                     245628.0
m2       98765.0                                     76544567.0                                     9878655.0                                     8760987.0                                     245628.0
tooltip  {'country_code': 1, 'population': 98765.0}  {'country_code': 1, 'population': 76544567.0}  {'country_code': 1, 'population': 9878655.0}  {'country_code': 1, 'population': 8760987.0}  {'country_code': 1, 'population': 245628.0}
+---------+--------------------------------------------+-----------------------------------------------+----------------------------------------------+----------------------------------------------+---------------------------------------------+
| NLD     | IND                                        | USA                                           | DEU                                          | CHE                                          | 0       98765.0                             |
|         |                                            |                                               |                                              |                                              | 1    76544567.0                             |
|         |                                            |                                               |                                              |                                              | 2     9878655.0                             |
|         |                                            |                                               |                                              |                                              | 3     8760987.0                             |
|         |                                            |                                               |                                              |                                              | 4      245628.0                             |
|         |                                            |                                               |                                              |                                              | Name: AVG(population), dtype: float64       |
|---------+--------------------------------------------+-----------------------------------------------+----------------------------------------------+----------------------------------------------+---------------------------------------------|
| 0       | N                                          | L                                             | D                                            |                                              |                                             |
| 1       | I                                          | N                                             | D                                            |                                              |                                             |
| 2       | U                                          | S                                             | A                                            |                                              |                                             |
| 3       | D                                          | E                                             | U                                            |                                              |                                             |
| 4       | C                                          | H                                             | E                                            |                                              |                                             |
| m1      | 98765.0                                    | 76544567.0                                    | 9878655.0                                    | 8760987.0                                    | 245628.0                                    |
| m2      | 98765.0                                    | 76544567.0                                    | 9878655.0                                    | 8760987.0                                    | 245628.0                                    |
| tooltip | {'country_code': 1, 'population': 98765.0} | {'country_code': 1, 'population': 76544567.0} | {'country_code': 1, 'population': 9878655.0} | {'country_code': 1, 'population': 8760987.0} | {'country_code': 1, 'population': 245628.0} |
+---------+--------------------------------------------+-----------------------------------------------+----------------------------------------------+----------------------------------------------+---------------------------------------------+

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_13384\1564589941.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ndf["m1"] = df["AVG(population)"]